<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="wzg.imagepicker.pkg"
	>
	
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	
	<application
		android:theme="@style/ImagePickerTheme"
		>
		<activity
			android:name="wzg.imagepicker.ui.ImagePickActivity"
			/>
		<activity
			android:name="wzg.imagepicker.ui.ImagePrePickActivity"
			/>
		<activity
			android:name="wzg.imagepicker.ui.ImageCropActivity"
			/>
		<activity
			android:name="wzg.imagepicker.ui.ImagePreviewActivity"
			/>
		
		<provider
			android:name="wzg.imagepicker.ImageFileProvider"
			android:authorities="${applicationId}.ImageFileProvider"
			android:exported="false"
			android:grantUriPermissions="true"
			>
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/image_picker"
				/>
		</provider>
	</application>
</manifest>